defaults:
  - stage_configs: _stage_configs
  - dataset: _base_dataset
  - _self_
  - _pipeline

# Global IO
input_dir: ${dataset.root_dir}
cohort_dir: ???

_default_description: |-
  This is a MEDS pipeline ETL. Please set a more detailed description at the top of your specific pipeline
  configuration file.

log_dir: "${stage_cfg.output_dir}/.logs"

# Control variables
do_overwrite: False
seed: 1
worker: 0
polling_time: 300 # wait time in seconds before beginning reduction steps

# Stage information
stages: ??? # The list of stages to this overall pipeline (in order)
stage: ${stage_name:}

# Pipeline
etl_metadata:
  pipeline_name: "MEDS-Transforms Pipeline"
  dataset_name: ${dataset.name}
  dataset_version: ${dataset.version}
  package_name: ${get_package_name:}
  package_version: ${get_package_version:}

code_modifiers: null

# Hydra
hydra:
  job:
    name: "${stage}_${worker}_${now:%Y-%m-%d_%H-%M-%S}"
  run:
    dir: "${log_dir}"
  sweep:
    dir: "${log_dir}"
  help:
    app_name: "MEDS/${stage}"
    template: |-
      == ${hydra.help.app_name} ==
      ${hydra.help.app_name} is a command line tool that provides an interface for running MEDS pipelines.

      **Pipeline description:**
      ${oc.select:description, ${_default_description}}

      **Stage description:**
      ${oc.select:stage_configs.${stage}.description, ${stage_docstring:}}
