# Global IO
pipeline_config_fp: ???
stage_runner_fp: null

_local_pipeline_config: ${oc.create:${load_yaml_file:${oc.select:pipeline_config_fp,null}}}
_stage_runners: ${oc.create:${load_yaml_file:${stage_runner_fp}}}

log_dir: "${_local_pipeline_config.cohort_dir}/.logs"

_pipeline_name: ${oc.select:_local_pipeline_config.etl_metadata.pipeline_name,"MEDS-transforms Pipeline"}
_pipeline_description: ${oc.select:_local_pipeline_config.description,"No description provided."}

do_profile: False

hydra:
  job:
    name: "${fix_str_for_path:${_pipeline_name}}_runner_${now:%Y-%m-%d_%H-%M-%S}"
  run:
    dir: "${log_dir}"
  help:
    app_name: "MEDS-Transforms Pipeline Runner"

    template: |-
      == ${hydra.help.app_name} ==
      ${hydra.help.app_name} is a command line tool for running entire MEDS-transform pipelines in a single
      command.

      ${get_script_docstring:runner}

      **${_pipeline_name} description:**

      ${_pipeline_description}
