defaults:
  - _extract
  - _self_

description: |-
  This pipeline extracts the MIMIC-IV dataet in longitudinal, sparse form from an input dataset meeting select
  criteria and converts them to the flattened, MEDS format. You can control the key arguments to this pipeline
  by setting environment variables:
  ```bash
    $EVENT_CONVERSION_CONFIG_FP=# Path to your event conversion config
    $MIMICIV_PRE_MEDS_DIR=# Path to the output dir of the pre-MEDS step
    $MIMICIV_MEDS_COHORT_DIR=# Path to where you want the dataset to live
  ```


# The event conversion configuration file is used throughout the pipeline to define the events to extract.
event_conversion_config_fp: ${oc.env:EVENT_CONVERSION_CONFIG_FP}

input_dir: ${oc.env:MIMICIV_PRE_MEDS_DIR}
cohort_dir: ${oc.env:MIMICIV_MEDS_COHORT_DIR}

stage_configs.shard_events.infer_schema_length: 999999999
etl_metadata.dataset_name: MIMIC-IV
etl_metadata.dataset_version: 2.2

stages:
  - shard_events
  - split_and_shard_subjects
  - convert_to_sharded_events
  - merge_to_MEDS_cohort
  - extract_code_metadata
  - finalize_MEDS_metadata
  - finalize_MEDS_data
